.Tables {
    -fx-background-color: #1e1e1e;
}

.Tables .table-row-cell:even {
    -fx-background-color: #4b4b4b;
}

.Tables .table-view .column-header {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
}

.Tables .table-row-cell:odd {
    -fx-background-color: #282828FF;
}

.Tables .table-row-cell:selected {
    -fx-background-color: grey;
}

.Tables .table-cell {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-size: 14px;
}

.ComboBox {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.ComboBox:hover {
    -fx-background-color: grey;
}

.AdminButton:hover {
    -fx-effect: dropshadow(three-pass-box, #7b56d9, 100,0,0 ,0 );
}
.DoctorButton:hover {
    -fx-effect: dropshadow(three-pass-box, #d37577, 100, 0,0 ,0 );
}
.StudentButton:hover {
    -fx-effect: dropshadow(three-pass-box, #3d6b8c, 100, 0,0 ,0 );
}

.ComboBox .list-cell {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.ComboBox .list-cell:hover {
    -fx-background-color: grey;
}

.ComboBox .list-cell:selected {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.ComboBox .cell:hover {
    -fx-background-color: grey;
}

.ComboBox .arrow-button .arrow {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.DatePicker {
    -fx-control-inner-background: black;
    -fx-text-fill: white;
}

.DatePicker .text-field {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.DatePicker .text-field:hover {
    -fx-background-color: grey;
}

.DatePicker .arrow-button {
    -fx-background-color: black;
}

.DatePicker .arrow-button:hover {
    -fx-background-color: grey;
}

.DatePicker .arrow-button .arrow {
    -fx-background-color: white;
}

.DatePicker .day-cell {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.DatePicker .day-cell:hover {
    -fx-background-color: grey;
}

.DatePicker .day-cell:selected {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.ComboBox2 {
    -fx-background-color:  #1e1e1e;
    -fx-text-fill: white;
}

.ComboBox2:hover {
    -fx-background-color: grey;
}

.ComboBox2 .list-cell {
    -fx-background-color:  #1e1e1e;
    -fx-text-fill: white;
}

.ComboBox2 .list-cell:hover {
    -fx-background-color: grey;
}

.ComboBox2 .list-cell:selected {
    -fx-background-color:  #1e1e1e;
    -fx-text-fill: white;
}

.ComboBox2 .cell:hover {
    -fx-background-color: grey;
}

.ComboBox2 .arrow-button .arrow {
    -fx-background-color: white;
    -fx-text-fill: black;
}

